@charset "UTF-8";
@import url(app.css);

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93, 75%;
}

#Banner {
    padding: 5.5rem 7rem;
}

#Filtro {
    padding: 3rem;
}

#Filtro select {
    margin: 1rem;
}

#Filtro input {
    margin: 1rem;
}

#Filtro a {
    margin: 1rem;
}

#Criar\ Topico {
    padding: 3rem;
}

#Criar\ Topico input {
    margin: 0.5rem;
}

#Criar\ Topico textarea {
    margin: 0.5rem;
}

#Criar\ Topico select {
    margin: 0.5rem;
}

#Topico {
    padding: 3rem;
}

#perfil {
    border-radius:50%;
    width:35px;
    height:35px;
    margin-right:5px;
}

#likes {
    margin-right: 1rem;
}

#titulo {
    margin-left: 1rem;
}

#botoes {
    margin-top: 1rem;
}

#Paginação {
    padding: 2rem 0rem;
    width: 200px;
    margin: auto;
}
