@charset "UTF-8";
@import url(app.css);

#Sobrenos, #SobreoProjeto {
    text-align: center;
    color: white;
}

/* Cor dos Cards
.card-color {
    background-color: #DDA0DD;
}
*/

/* Linha Vertical */
#linha-vertical {
    height: auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

p {
    text-indent: 5%;
}
