@charset "UTF-8";
@import url(app.css);

.card-color {
    background-color: var(--sapinho);
}

.card-registro {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #e06ae0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
}

.card-preencher {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #20b2aa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
