@charset "UTF-8";
@import url(sousapo.css);

.hqcontrols {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: var(--sapo);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
