@charset "UTF-8";
@import url(sousapo.css);

/* #ulSobre1 {
    margin-left: 5px;
    margin-right: 500px;
    background-color: #CC99F4;
}

#divSobre1{
    margin-left: 150px;
}

#divSobre2{
    padding-top: 20px;
    padding-bottom: 1px;
}

#nos {
    font-size: 17px;
}

#divSobre11{
    margin-left: 110px;
}

#teste {
    left: 50%;
}

#teste2 {
    right: 50%;
}*/


/* Alinhamentos do Sobres */
#Sobrenos {
    text-align: center;
}

#SobreoProjeto {
    text-align: center;
}


/* Cor dos Cards */
.card-color {
    background-color: #DDA0DD;
}

/* Linha Vertical */
#linha-vertical {
    height: auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
