@charset "UTF-8";
@import url(app.css);

:root {
    /*CORES DO SITE*/
    --sapo: #FFFACD;
    --sapo-escuro: #e2deb6;
    --sapao: #20B2AA;
    --sapao-escuro: #1c9c96;
    --sapinho: #DDA0DD;
    --sapinho-escuro:#b380b3;
    --ra: #3CB371;
    --ra-escura: #349760;
    --razinha: #FFD700;
    --razinha-escura: #e0ac01;
}

/*BACKGROUNDS PERSONALIZADOS*/
.bg-sapinho {
    background-color: var(--sapinho) !important;
}

a.bg-sapinho:hover,
a.bg-sapinho:focus,
button.bg-sapinho:hover,
button.bg-sapinho:focus {
    background-color: var(--sapinho-escuro) !important;
}

/*BOTÕES PERSONALIZADOS*/


/*COR SAPINHO*/
.btn-sapinho {
    color: #212529;
    background-color: var(--sapinho);
    border-color: var(--sapinho);
}

.btn-sapinho:hover {
    color: #fff;
    background-color: var(--sapinho-escuro);
    border-color: var(--sapinho-escuro);
}

.btn-sapinho:focus,
.btn-sapinho.focus {
    color: #fff;
    background-color: var(--sapinho-escuro);
    border-color: var(--sapinho-escuro);
    box-shadow: 0 0 0 0.2rem var(--sapinho-escuro);;
}

.btn-sapinho.disabled,
.btn-sapinho:disabled {
    color: #fff;
    background-color: var(--sapinho);
    border-color: var(--sapinho);
}

.btn-sapinho:not(:disabled):not(.disabled):active,
.btn-sapinho:not(:disabled):not(.disabled).active,
.show>.btn-sapinho.dropdown-toggle {
    color: #fff;
    background-color: var(--sapinho-escuro);
    border-color: var(--sapinho-escuro);
}

.btn-sapinho:not(:disabled):not(.disabled):active:focus,
.btn-sapinho:not(:disabled):not(.disabled).active:focus,
.show>.btn-sapinho.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--sapinho-escuro);
}

/*COR RÃ*/
.btn-ra {
    color: #212529;
    background-color: var(--ra);
    border-color: var(--ra);
}

.btn-ra:hover {
    color: #212529;
    background-color: #37a769;
    border-color: #37a769;
}

/*COR SAPÃO*/
.btn-sapao {
    color: #212529;
    background-color: var(--sapao);
    border-color: var(--sapao);
}

.btn-sapao:hover {
    color: #212529;
    background-color: #1da099;
    border-color: #1da099;
}
